<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="styles.css">
          <title>Home Page</title>
</head>
<body>
          <h1>Enter Your Details Below: </h1>

          <ul>
                    <% for(let i = 0; i < info.length; i++) { %>
                              <li>
                                        <span><%= info[i].name %></span>
                                        <span><%= info[i].email %></span>
                                        <span><%= info[i].country %></span>
                                        <button class="up">Update</button>
                                        <button class="del">Delete</button>
                              </li>
                    <% } %>
          </ul>

          <form action="/toData" method="POST">
                    <input type="text" placeholder="Your Name....." name='name'>
                    <input type="text" placeholder="Your Email..." name='email'>
                    <input type="text" placeholder="Your Country..." name='country'>
                    <input type="submit">
          </form>

          <script src="main.js"></script>
</body>
</html>